<div class="dt-sc-tabs-container">
  <div class="dt-sc-tabs dt-sc-list-inline">       
    {% if section.settings.product_tab1 %}<button class="tablinks" onclick="openTab(event, 'tab-description')">{{ section.settings.product_tab1_heading }}</button>{% endif %}
    {% if section.settings.product_tab2 %}<button class="tablinks" onclick="openTab(event, 'tab-custom')">{{ section.settings.product_tab2_heading }}</button>{% endif %}
    {% if section.settings.product_tab3 %}<button class="tablinks" onclick="openTab(event, 'tab-review')">{{ section.settings.product_tab3_heading }}</button>{% endif %}
  </div>
  {% if section.settings.product_tab1 %}
  <div class="dt-sc-tabs-content  product-single__description rte" id="tab-description" style="display:block;">
    {{ product.description }}
  </div>
  {% endif %}
  {% if section.settings.product_tab2 %}
  <div class="dt-sc-tabs-content"  id="tab-custom">
    {{ pages[section.settings.page_content].content }}
  </div>
  {% endif %}  
  {% if section.settings.product_tab3 %}
  <div class="dt-sc-tabs-content" id="tab-review">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>  
  </div>
  {% endif %} 
</div>

<script>
function openTab(evt, TabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("dt-sc-tabs-content");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(TabName).style.display = "block";
  evt.currentTarget.className += " active";
}
  $( ".tablinks" ).first().addClass( "active" );
  $( ".dt-sc-tabs-content" ).first().css( "display", "block" );

</script>